/*inicio footer*/
.foot {
    width: 100%;
    padding: 20px;
    background-color: #04bfbff6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*diseño redes*/
.redes{
    padding: 5px;
    width: 50%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .iconos-redes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        gap: 1rem;
        }

        .instagram{
            a{
                text-decoration: none;
                color: black;
                font-size: 45px;
            }
        }


    ul>li>i{
        font-size: 30px;
        }


}

/*diseño zona*/
#logo_foot{
    img{
        width: 150px;
    }
    
}