/*inicio footer*/
.foot {
    width: 100%;
    background-color: #04bfbfe1;
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
/*diseño redes*/
.redes{
    padding: 5px;
    width: 300px;
    text-align: center;
    color: black;
}
.redes li{
    display: inline-block;
}
.redes h3{
    font-size: 14px;
}
.redes > ul li i{
    font-size: 14px;
}
/*diseño zona*/
.zona{
    padding: 5px;
    width: 400px;
    text-align: center;
    color: black;
}
.zona h3{
    font-size: 14px;
}
.zona p{
    font-size: 14px;
}