/*pagina entrada & Woks*/
.body-menu{
    width: 100%;
    min-height: 100%;
    background-color: $Color1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#body_wok{
    background-image: url(/imagenes/fondo\ wok.jpg);
    background-size: contain;
    background-repeat: repeat;

    @include mobile {
        background-size: 300px;
        background-position: 15% 250%;
    }

}

.menu-main{
    width: 500px;
    padding: 1.5rem;
    }

.menu-carta{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    .menu-titulo{
        display: flex;
        justify-content: center;
        align-items: center;
            
        h2{
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
            font-weight: bold; 
            font-size: 35px; 
            background: #202020; 
            -webkit-background-clip: text; 
            -moz-background-clip: text; 
            background-clip: text; 
            color: transparent; 
            text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);

            @include mobile {
                font-size: 25px;
            }
        }
    }
    
    .grafitti{
        background-color: $Color1;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50px;

        @include mobile {
            font-size: 13px;
        }
    }

    .precio{
        width: 70px;
        height: 35px;
        background-color: #401A39;
        color: whitesmoke;
        border-radius: 79px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            width: 50px;
            height: 30px;
            font-size: 13px;
        }
    
    }
}

/*pagina sushi & Bowls*/
#body_sushi{
    background-color: $Color2;
    background-image: url(/imagenes/fondo\ combinados.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .sushi_borde{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include mobile{
            gap: 0.8rem;
        }
    }

    .cantidad{
        font-size: 1.5em;

        @include mobile{
            font-size: 1em;
        }
    }
}
.sushi_imagen{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
    background-color: $Color1;
    border-radius: 0.8em;

    img{
        width: 100%; 
        border-radius: 0.8em; 
    }
}
/*pagina rolls*/
#body_rolls{
    background-image: url(/imagenes/fondo\ roll.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-color: $Color5;

    h2{
        pre{
            text-transform: uppercase;
            text-rendering: optimizeLegibility;
            font-weight: bold; 
            font-size: 35px; 
            background: #202020; 
            -webkit-background-clip: text; 
            -moz-background-clip: text; 
            background-clip: text; 
            color: transparent; 
            text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
        
            @include mobile {
            font-size: 25px;
        }
        }
    }

    .hot_roll{
        margin: 5px;
        background-color: orangered;
        color: whitesmoke;
        padding: 5px;
        border-radius: 0.8em;

        @include mobile {
            font-size: 10px;
            padding: 3px;
        }
    }
    .salsa_wasabi{
        background-color: $Color5;
        border-radius: 0.8em;
        padding-top: 10px;
        margin: 3px;
    }
    .precio2{
        pre{
            font-size: 13px;
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #401A39;
            color: whitesmoke;
            border-radius: 79px;
            padding: 3px;
        };
        
    }
}
.imagen_rol{
    margin: 20px;
    padding: 10px;
    border-radius: 0.8em;

    @include mobile {
        margin: 0px;
        padding: 2px;
    }

    img{
        width: 450px;
        border-radius: 0.8em;

        @include mobile {
            width: 300px;
        }
    }
    }
/*fin paginas rolls*/
/*inicio conocenos*/
#menu_conocenos{
    background-color: $Color4;

    .fb-page{
        margin-top: 20px;
    }

    #mapa{
        margin-top: 25px;

        @include mobile{
            iframe{
            width: 270px;
        }
        }

        
    }
    }
/*cuadrado instagram*/
.card {
    --bg: #0a0a0acb;
    --hover-bg: #FFE5F4;
    --hover-text: #E50087;
    color: whitesmoke;
    max-width: 500px;
    text-align: center;
    background: var(--bg);
    margin: 10px;
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: .3s cubic-bezier(.6,.4,0,1),transform .15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .card__body {
    color: $Color4;
    line-height: 1.5em;
    font-size: 1em;
  }
  
  .card > :not(span) {
    transition: .3s cubic-bezier(.6,.4,0,1);
  }
  
  .card > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -.035em;
  }
  
  .card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
  }
  
  .card:hover span {
    top: 0;
    font-size: 1.2em;
  }
  
  .card:hover {
    background: var(--hover-bg);
  }
  
  .card:hover>div,.card:hover>strong {
    opacity: 0;
  }

