/*inicio entrada*/
.boton_flotante{
    position: fixed;
    bottom: 20px;
    right: 5px;

    img{
        width: 50px;
    }
    
}
#boton_sushi{
    img{
        width: 130px;
    }
}
#boton_conocenos{
    img{
        width: 100px;
    }
}

.boton_flotante:hover{
    transform: scale(1.5);
    transform: translateY(-100px);
}

.entrada_menu{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "... ...    ...    ..."
    "spring spring spring ..."
    "... ...    ...    ..."
    "... vegg   vegg   pvegg"
    "... cerd   cerd   pcerd"
    "... sal    sal    psal"
    "... ...    ...    ...";

    #spring{
        grid-area: spring;

        b{
            font-size: 0.7em;
        }

        span{
            background-color: $Color5;
            border-radius: 50%;
            color: $Color3;
        }
    }
    #vegg{
        grid-area: vegg;
    }
    #pvegg{
        grid-area: pvegg;
    }
    #cerd{
        grid-area: cerd;
    }
    #pcerd{
        grid-area: pcerd;
    }
    #sal{
        grid-area: sal;
    }
    #psal{
        grid-area: psal;
    }
}
.gyoza{
    display: flex;
    justify-content: space-between;

    span{
        background-color: $Color5;
        border-radius: 50%;
        color: $Color3;
    }
}
/*fin de entradas*/

/*inicio wok*/
.wok-p{
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: repeat(1, 0.1fr, 12, 0.5fr);
    grid-template-areas: 
    "... ...    ...    ...    ..."
    "... arroz  arroz  arroz  parroz"
    "... agrid  agrid  agrid  pagrid"
    "... ...    ...    ...    ..."
    "suey suey   suey   suey  suey"
    "... ...    ...    ...    ..."
    "... hongo  hongo  hongo    prehongo"
    "... pollo  pollo  pollo    prepollo"
    "... cerdo  cerdo  cerdo    precerdo"
    "... lango  lango  lango    prelango"
    "... salm   salm   salm    presalm"
    "... lomo   lomo   lomo    prelomo"
    "... ...    ...    pmein  pmein";
    gap: 1em;
    
    #arroz{
    grid-area: arroz;
    }
    #darroz{
    grid-area: darroz;
    }
    #parroz{
    grid-area: parroz;
    }
    #agrid{
    grid-area: agrid;
    }
    #pagrid{
    grid-area: pagrid;
    }
    #pmein{
    grid-area: pmein;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
    #suey{
    grid-area: suey;
    }
    #hongo{
    grid-area: hongo;
    }
    #prehongo{
    grid-area: prehongo;
    }
    #pollo{
    grid-area: pollo;
    }
    #prepollo{
    grid-area: prepollo;
    }
    #cerdo{
    grid-area: cerdo;
    }
    #precerdo{
    grid-area: precerdo;
    }
    #lango{
    grid-area: lango;
    }
    #prelango{
    grid-area: prelango;
    }
    #salm{
    grid-area: salm;
    }
#presalm{
    grid-area: presalm;
    }
    #lomo{
    grid-area: lomo;
    }
    #prelomo{
    grid-area: prelomo;
    }

    b{
        font-size: 1.3em;
    }
}
/*fin wok*/
/*inicio bowls*/
.bowl-menu{
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.6fr;
    grid-template-rows: repeat(1,0.1fr ,7, 0.6fr);
    grid-template-areas: 
    "...    ...    ..."
    "kani   kani   pkani"
    "lango  lango  plango"
    "salmn  salmn  psalmon"
    "temp   temp   ptemp"
    "veggie veggie pveggie"
    "...    ing    ing";
    gap: 1em;
}
#kani{
    grid-area: kani;
}
#pkani{
    grid-area: pkani;
}
#lango{
    grid-area: lango;
}
#plango{
    grid-area: plango;
}
#salmon{
    grid-area: salmn;
}
#psalmon{
    grid-area: psalmon;
}
#temp{
    grid-area: temp;
}
#ptemp{
    grid-area: ptemp;
}
#veggie{
    grid-area: veggie;
}
#pveggie{
    grid-area: pveggie;
}
#ing{
    grid-area: ing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*fin bowls*/
/*inicio sushi*/
.sushi_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 0.5fr, 8, 1fr);
    grid-template-areas: 
    "... ...  ...  ...   ..."/*1*/
    "deli deli deli deli ..."/*2*/
    "p    p    p    p    p"/*3*/
    "... x12  x24  x36 ..."/*4*/
    "... p12  p24  p36 ..."/*5*/
    "... x48  ...  x72 ..."/*6*/
    "... p48  ...  p72 ..."/*7*/
    "... p2   p2   p2 ..."/*8*/
    "... ...  ...  ... ..."/*9*/;

    #deli{
        grid-area: deli;
    }
    #p{
        grid-area: p;
    }
    #x12{
        grid-area: x12;
    }
    #p12{
        grid-area: p12;
    }
    #x24{
        grid-area: x24;
    }
    #p24{
        grid-area: p24;
    }
    #x36{
        grid-area: x36;
    }
    #p36{
        grid-area: p36;
    }
    #x48{
        grid-area: x48;
    }
    #p48{
        grid-area: p48;
    }
    #x72{
        grid-area: x72;
    }
    #p72{
        grid-area: p72;
    }
    #p2{
        grid-area: p2;
    }
/*fin de combi 4variedades*/
}
.only_salmon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 0.5fr, 8, 1fr);
    grid-template-areas: 
    "... ...  ...   ...   ..."
    "only only only  only only"
    "on12 on12 on12  on12  on12"
    "... ...  on12p on12p ..."
    "on24 on24 on24  on24  on24"
    "... ...  on24p on24p ..."
    "on36 on36 on36  on36  on36"
    "... ...  on36p on36p ..."
    "... ...  ...   ...   ...";

    #only{
        grid-area: only;
    }
    #on12{
        grid-area: on12;
    }
    #on12p{
        grid-area: on12p;
    }
    #on24{
        grid-area: on24;
    }
    #on24p{
        grid-area: on24p;
    }
    #on36{
        grid-area: on36;
    }
    #on36p{
        grid-area: on36p;
    }
/*fin Only Salmon*/
}
.combi_premium{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 0.5fr, 5, 1 fr);
    grid-template-areas: 
    "... ...   ...   ...   ..."
    "prem prem  prem  prem  prem"
    "pprem pprem pprem pprem ..."
    "... p12   p24   p36   ..."
    "... p12p  p24p  p36p  ..."
    "... ...   ...   ...   ...";

    #prem{
        grid-area: prem;
    }
    #pprem{
        grid-area: pprem;
    }
    #p12{
        grid-area: p12;
    }
    #p12p{
        grid-area: p12p;
    }
    #p24{
        grid-area: p24;
    }
    #p24p{
        grid-area: p24p;
    }
    #p36{
        grid-area: p36;
    }
    #p36p{
        grid-area: p36p;
    }
/*fin Combi Premiun*/
}
.combi_veggie{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 0.5fr, 5, 1fr);
    grid-template-areas: 
    "... ...  ...   ...  ..."
    "veg veg  veg   veg  ..."
    "vegp vegp vegp  vegp vegp"
    "... ...  pvegp ...  ..."
    "... ...  ...   ...  ...";

    #veg{
        grid-area: veg;
    }
    #vegp{
        grid-area: vegp;
    }
    #pvegp{
        grid-area: pvegp;
    }
/*fin Combi Veggie*/
}
.degust{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 0.5fr, 4, 1fr);
    grid-template-areas: 
    "... ... ... ... ..."
    "d6 d6  d6  d6  ..."
    "... ... p6  p6  ..."
    "... d6p d6p d6p ..."
    "... ... ... ... ...";

    #d6{
        grid-area: d6;
    }
    #d6p{
        grid-area: d6p;
    }
    #p6{
        grid-area: p6;
    }
/*fin Degustación*/
}
/*fin pagina sushi*/
/*inicio pagina roles*/
#menu_rolls{
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_cinco{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*fin pagina rolls*/
/*inicio pagina conocenos*/
#conocenos{
    display: flex;
    justify-content: center;
    align-items: center;
}