/*inicio entrada*/
.boton_flotante{
    position: fixed;
    bottom: 20px;
    right: 5px;

    img{
        width: 50px;
        @include mobile{
            width: 30px;
        }
    }
    
}
#boton_sushi{
    right: 0px;

    img{
        width: 70px;
        @include mobile {
            width: 60px;
        }
    }
}
#boton_conocenos{
    right: 3px;
    img{
        width: 70px;
        @include mobile {
            width: 50px;
        }
    }
}

.boton_flotante:hover{
    transform: scale(1.5);
    transform: translateY(-7px);
}
/*fin boton flotante*/
/*inicio menu*/
.main_forma{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.entrada_menu{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.4fr;
    grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr 0.2fr;
    grid-template-areas: 
    "...    ...    ...    ..."
    "spring spring spring ..."
    "vegg   vegg   vegg   pvegg"
    "cerd   cerd   cerd   pcerd"
    "sal    sal    sal    psal"
    "...    ...    ...    ...";

    @include mobile {
        grid-template-columns: 0.2fr 1fr 1fr 0.4fr;
        grid-template-rows: 0.2fr 0.2fr 0.6fr 0.6fr 0.6fr 0.2fr;
        grid-template-areas: 
        "...    ...    ...    ..."
        "spring spring spring ..."
        "vegg   vegg   vegg   pvegg"
        "cerd   cerd   cerd   pcerd"
        "sal    sal    sal    psal"
        "...    ...    ...    ...";
    }

    #spring{
        grid-area: spring;

        b{
            font-size: 0.7em;
        }

        span{
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            padding: 0.1em 0.5em 0.1em 0.5em;
            color: white;
            background: linear-gradient(0deg, $Color3 0%, rgb(233, 122, 227) 100%);
            border: none;
            box-shadow: 0 0.7em 1.5em -0.5em #08080898;
            letter-spacing: 0.05em;
            border-radius: 20em;

            @include mobile {
                font-size: 13px;
            }
        }
    }
    #vegg{
        grid-area: vegg;

        @include mobile {
            font-size: 13px;
        }
    }
    #pvegg{
        grid-area: pvegg;
    }
    #cerd{
        grid-area: cerd;

        @include mobile {
            font-size: 13px;
        }
    }
    #pcerd{
        grid-area: pcerd;
    }
    #sal{
        grid-area: sal;

        @include mobile {
            font-size: 13px;
        }
    }
    #psal{
        grid-area: psal;
    }
}
.gyoza{
    display: flex;
    justify-content: space-between;
    align-items: center;

    pre{
        font-size: 1em;

        @include mobile {
            font-size: 13px;
        }
    }

    span{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        padding: 0.1em 0.5em 0.1em 0.5em;
        color: white;
        background: #ad5389;
        background: linear-gradient(0deg, $Color3 0%, rgb(233, 122, 227) 100%);
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em #08080898;
        letter-spacing: 0.05em;
        border-radius: 0.8em;

        @include mobile {
            font-size: 13px;
        }
    }
}
/*fin de entradas*/
/*diseño carrusel entradas*/

.carousel-item img{
    padding-top: 30px;
    height: 500px;

    @include tablet {
        height: 500px;
    }
    @include mobile {
        height: 400px;
    }

}
/*inicio wok*/
.wok-p{
    font-size: 16px;
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: repeat(1, 0.1fr, 12, 0.3fr);
    grid-template-areas: 
    "... ...    ...    ...    ..."
    "... arroz  arroz  arroz  parroz"
    "... agrid  agrid  agrid  pagrid"
    "... ...    ...    ...    ..."
    "suey suey   suey   suey  suey"
    "... ...    ...    ...    ..."
    "... hongo  hongo  hongo    prehongo"
    "... pollo  pollo  pollo    prepollo"
    "... cerdo  cerdo  cerdo    precerdo"
    "... lango  lango  lango    prelango"
    "... salm   salm   salm    presalm"
    "... lomo   lomo   lomo    prelomo"
    "... ...    ...    pmein  pmein";
    gap: 1em;

    @include mobile {
        font-size: 13px;
        grid-template-columns: 0fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: repeat(1, 0.1fr, 13, 0.3fr);
        grid-template-areas: 
        "... ...    ...    ...   ..."
        "... arroz  arroz  arroz parroz"
        "... agrid  agrid  agrid pagrid"
        "... ...    ...    ...   ..."
        "suey suey   suey   suey suey"
        "... ...    ...    ...   ..."
        "... hongo  hongo  hongo prehongo"
        "... pollo  pollo  pollo prepollo"
        "... cerdo  cerdo  cerdo precerdo"
        "... lango  lango  lango prelango"
        "... salm   salm   salm  presalm"
        "... lomo   lomo   lomo  prelomo"
        "... ...    ...    ...   ..."
        "pmein pmein  pmein  pmein pmein";
        gap: 0.5em;

    }
    
    #arroz{
        grid-area: arroz;
    }
    #darroz{
        grid-area: darroz;
    }
    #parroz{
        grid-area: parroz;
    }
    #agrid{
        grid-area: agrid;
    }
    #pagrid{
        grid-area: pagrid;
    }
    #pmein{
        grid-area: pmein;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #suey{
        grid-area: suey;
    }
    #hongo{
        grid-area: hongo;
    }
    #prehongo{
        grid-area: prehongo;
    }
    #pollo{
        grid-area: pollo;
    }
    #prepollo{
        grid-area: prepollo;
    }
    #cerdo{
        grid-area: cerdo;
    }
    #precerdo{
        grid-area: precerdo;
    }
    #lango{
        grid-area: lango;
    }
    #prelango{
        grid-area: prelango;
    }
    #salm{
        grid-area: salm;
    }
    #presalm{
        grid-area: presalm;
    }
    #lomo{
        grid-area: lomo;
    }
    #prelomo{
        grid-area: prelomo;
    }

    b{
        font-size: 1em;
        
        @include mobile {
            font-size: 0.9em;
        }
    }
}
/*fin wok*/
/*inicio bowls*/
.bowl-menu{
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.6fr;
    grid-template-rows: repeat(1,0.1fr ,7, 0.6fr);
    grid-template-areas: 
    "...    ...    ..."
    "kani   kani   pkani"
    "lango  lango  plango"
    "salmn  salmn  psalmon"
    "temp   temp   ptemp"
    "veggie veggie pveggie"
    "...    ing    ing";
    gap: 1em;

    @include mobile {
        font-size: 13px;
        gap: 0.7em;
    }
}
#kani{
    grid-area: kani;
}
#pkani{
    grid-area: pkani;
}
#lango{
    grid-area: lango;
}
#plango{
    grid-area: plango;
}
#salmon{
    grid-area: salmn;
}
#psalmon{
    grid-area: psalmon;
}
#temp{
    grid-area: temp;
}
#ptemp{
    grid-area: ptemp;
}
#veggie{
    grid-area: veggie;
}
#pveggie{
    grid-area: pveggie;
}
#ing{
    grid-area: ing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*fin bowls*/

/*inicio sushi*/
#sushi_espacio{
    display: flex;
    justify-content: space-around;
}
.sushi_menu{
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 0.5fr, 7, 1fr);
    grid-template-areas: 
    "... ...  ...  ...   ..."/*1*/
    "deli deli deli deli ..."/*2*/
    "p    p    p    p    p"/*3*/
    "... x12 p12  x24  p24"/*4*/
    "... x36 p36  x48  p48"/*5*/
    "... x72 p72  p2   p2"/*6*/
    "... ... ...  p2   p2"/*7*/
    "... ...  ...  ... ..."/*8*/;


    #deli{
        grid-area: deli;
        @include mobile {
            font-size: 20px;
        }
    }
    #p{
        grid-area: p;
        @include mobile {
            font-size: 13px;
        }
    }
    #x12{
        grid-area: x12;
    }
    #p12{
        grid-area: p12;
    }
    #x24{
        grid-area: x24;
    }
    #p24{
        grid-area: p24;
    }
    #x36{
        grid-area: x36;
    }
    #p36{
        grid-area: p36;
    }
    #x48{
        grid-area: x48;
    }
    #p48{
        grid-area: p48;
    }
    #x72{
        grid-area: x72;
    }
    #p72{
        grid-area: p72;
    }
    #p2{
        grid-area: p2;

        @include mobile{
            font-size: 12px;
        }
    }
/*fin de combi 4variedades*/
}
.only_salmon{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.2fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: repeat(1, 0.5fr, 7, 1fr);
    grid-template-areas: 
    "... ... ...  ...   ...   ..."
    "only only only  only only ..."
    "... on12 on12 on12  on12 on12p"
    "... ... ...   ...   ...  ..."
    "... on24 on24 on24  on24 on24p"
    "... ... ...   ...   ...  ..."
    "... on36 on36 on36  on36 on36p"
    "... ... ...  ...   ...   ...";

    @include mobile{
        grid-template-columns: 0.2fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
        grid-template-rows: repeat(1, 0.5fr, 7, 1fr);
        grid-template-areas: 
        "... ... ...  ...   ...   ..."
        "only only only  only only only"
        "on12 on12 on12 on12  on12 on12p"
        "... ... ...   ...   ...  ..."
        "on24 on24 on24 on24  on24 on24p"
        "... ... ...   ...   ...  ..."
        "on36 on36 on36 on36  on36 on36p"
        "... ... ...  ...   ...   ...";
    }


    #only{
        grid-area: only;
        @include mobile{
            font-size: 20px;
        }
    }
    #on12{
        grid-area: on12;
        @include mobile{
            font-size: 12px;
        }
    }
    #on12p{
        grid-area: on12p;
    }
    #on24{
        grid-area: on24;
        @include mobile{
            font-size: 12px;
        }
    }
    #on24p{
        grid-area: on24p;
    }
    #on36{
        grid-area: on36;
        @include mobile{
            font-size: 12px;
        }
    }
    #on36p{
        grid-area: on36p;
    }
/*fin Only Salmon*/
}
.combi_premium{
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: repeat(1, 0.5fr, 4, 1 fr);
    grid-template-areas: 
    "...  ...   ...   ...   ...   ... ..."
    "prem prem  prem  prem  prem  ... ..."
    "...  pprem pprem pprem pprem ... ..."
    "...  p12   p12p  p24   p24p  p36 p36p"
    "...  ...   ...   ...   ...   ... ...";

    @include mobile {
        grid-template-columns: 0.2fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
        grid-template-rows: repeat(1, 0.5fr, 4, 1 fr);
        grid-template-areas: 
        "...  ...   ...   ...   ...   ... ..."
        "prem prem  prem  prem  prem  prem ..."
        "...  pprem pprem pprem pprem pprem ..."
        "...  p12   p12p  p24   p24p  p36 p36p"
        "...  ...   ...   ...   ...   ... ...";
    }

    #prem{
        grid-area: prem;
        @include mobile{
            font-size: 20px;
        }
    }
    #pprem{
        grid-area: pprem;
        @include mobile{
            font-size: 13px;
        }
    }
    #p12{
        grid-area: p12;
    }
    #p12p{
        grid-area: p12p;
    }
    #p24{
        grid-area: p24;
    }
    #p24p{
        grid-area: p24p;
    }
    #p36{
        grid-area: p36;
    }
    #p36p{
        grid-area: p36p;
    }
/*fin Combi Premiun*/
}
.combi_veggie{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 0.5fr, 5, 1fr);
    grid-template-areas: 
    "... ...  ...   ...  ..."
    "veg veg  veg   veg  ..."
    "vegp vegp vegp vegp ..."
    "vegp vegp vegp vegp pvegp"
    "... ...  ...   ...  ...";

    @include mobile{
        font-size: 12px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 0.5fr, 5, 1fr);
        grid-template-areas: 
        "... ...  ...   ...  ..."
        "veg veg  veg   veg  veg"
        "vegp vegp vegp vegp ..."
        "vegp vegp vegp vegp pvegp"
        "... ...  ...   ...  ...";
    }

    #veg{
        grid-area: veg;
        @include mobile{
            font-size: 20px;
        }
    }
    #vegp{
        grid-area: vegp;
        font-size: 0.9em;
    }
    #pvegp{
        grid-area: pvegp;
    }
/*fin Combi Veggie*/
}
.degust{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: repeat(1, 2fr, 3, 1fr);
    grid-template-areas: 
    "... ... ... ... ..."
    "d6  d6  d6  d6  p6"
    "d6p d6p d6p d6p d6p"
    "... ... ... ... ...";

    @include mobile {
        font-size: 12px;
    }

    #d6{
        grid-area: d6;
        @include mobile{
            font-size: 20px;
        }
    }
    #d6p{
        grid-area: d6p;
    }
    #p6{
        grid-area: p6;
    }
/*fin Degustación*/
}
/*fin pagina sushi*/

/*inicio pagina roles*/
#menu_rolls{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include mobile {
        font-size: 12px;
    }
}
#menu_cinco{
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        font-size: 12px;
        align-items: flex-end;
    }
}
/*fin pagina rolls*/
/*inicio pagina conocenos*/
#conocenos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#contacto-kanpeki{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}