@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,900&family=Roboto:wght@100;300;400&display=swap');

$fontMain: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;;

$Color1: #04bfbfe1;
$Color2: #91f872;
$Color3: #401A39;
$Color4: #D952AA;
$Color5: #F2AEBB;