@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*inicio estilo menú*/
.borde{
    border: 3px outset rgba(14, 13, 13, 0.685);
}
#logo img{
    width: fit-content;
    height: 600px;
}
#logo{
    grid-area: logo;
    background-color: rgba(255, 145, 0, 0.795);
    height: 80vh;
}
/*diseño de entradas*/
#entrada{
    grid-area: entrada;
    background-color: rgba(255, 0, 255, 0.808);
    height: 40vh;
}
#entrada a{
    font-size: 70px;
    display: flex;
    justify-content: center;
}
#entrada:hover{
    background-color: black;
    opacity: 0.8;
}
/*diseño de woks*/
#woks{
    grid-area: woks;
    background-color: rgba(0, 255, 255, 0.76);
    height: 40vh;
}
#woks a{
    font-size: 70px;
}
#woks:hover{
    background-color: black;
    opacity: 0.8;
}
/*diseño de sushi*/
#sushi{
    grid-area: sushi;
    background-color: rgba(0, 255, 255, 0.76);
    height: 40vh;
}
#sushi a{
    font-size: 70px;
}
#sushi:hover{
    background-color: black;
    opacity: 0.8;
}
/*diseño contacto*/
#contacto{
    grid-area: contacto;
    background-color: rgba(255, 0, 255, 0.808);
    height: 40vh;
}
#contacto a{
    font-size: 70px;
}
#contacto:hover{
    background-color: black;
    opacity: 0.9;
}
/*diseño nav*/
.nav{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "entrada logo  logo   sushi"
    "woks    logo  logo  contacto";
    align-items: center;
}
.nav > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav >div a{
    color: black;
    font-size: 2rem;
    text-decoration: none;
}
/*fin estilo menú*/

/*inicio footer*/
.foot {
    width: 100%;
    height: 20vh;
    background-color: rgba(255, 145, 0, 0.795);
    display: flex;
    flex-direction: row;
    justify-content: center ;
}
/*diseño redes*/
.redes{
    padding: 50px;
    width: 400px;
    text-align: center;
    color: black;
}
.redes li{
    display: inline-block;
}
.redes h3{
    font-size: 24px;
}
.redes > ul li i{
    font-size: 24px;
}
/*diseño zona*/
.zona{
    padding: 50px;
    width: 400px;
    text-align: center;
    color: black;
}
.zona h3{
    font-size: 24px;
}
.zona p{
    font-size: 20px;
}
/*pagina woks & bowls*/
.body-wok{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondo\ woks.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#foot-wok{
    position: absolute;
    bottom: 0px;
}
.body-wok nav{
    position: absolute;
    left: 100px;

}
.navbar-brand img{
    width: 200px;
}
.nav-link{
    font-size: 24px;
}
.wok-menu{
    position: absolute;
    top: 150px;
    left: 100px;
    width: 80%;
    height: 400px;
    background-color: rgba(241, 243, 243, 0.925);
    border: 2px outset black;
}
.wok-menu h2{
    position: absolute;
    right: 40px;
}
#wok-logo{
    position: absolute;
    top: 15px;
    left: 30px;
}
.wok-p{
    position: absolute;
    top: 60px;
    left: 15px;
    right: 15px;
    border: 2px dashed sandybrown;
}
.wok-p > p{
    font-size: 20px;
}